*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-card{
    background-color: aquamarine;
    height: 250px;
    width: 250px;
    margin: 15px auto;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.5);
}
.text-head{
    background-color: rgb(0, 0, 0, 0.3);
    padding: 10px;
}
section{
    height: 100vh;  
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    
}
.image-card{
  height: 340px;
  width: 300px;
  box-shadow: 0 12px 10px 5px rgb(0, 0, 0, 0.3);
  
}
.image-card img{
    width: 100%;
    height: 300px;

}
.flex{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}