nav{
    height: 70px;
    background-color: rgb(124, 47, 124);
    display: block;
    
    
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    text-transform: uppercase;

}
nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}
nav ul li a:hover{
    height: 20px;
    background-color: rgb(196, 36, 196);
}
img{
    height: 20px;
    width: 20px;
}
.logo{
    float: left;
    margin-right: 10px;
}