div{
    background-color: cyan;
    height: 300px;
    width: 300px;
    margin: 30px;
}

a{
    background-color: red;
    padding: 20px;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
    margin-left: 25px;
    margin-top: 20px;
}












